.notFoundCharacter {
  &__text {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  &__return {
    display: flex;
    justify-content: center;
  }
  &__resetButton {
    display: flex;
    justify-content: center;
  }
}
