#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  min-width: 360px;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;
}
